# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
!*.tfvars.example
.ansible_ssh_private_key
terraform/.ansible_ssh_private_key

# Ansible
*.retry

# Env / secrets
.env
*.pem

# OS
.DS_Store
Thumbs.db
nul

# AWX : clone local (recree par le script)
awx/awx-without-k8s/
